
:root {
    --measureDimensionFontsize100: 6px;    
    --measureDimensionFontsize200: 8px;    
    --measureDimensionFontsize300: 10px;    
    --measureDimensionFontsize400: 12px;    
    --measureDimensionFontsize500: 14px;    
    --measureDimensionFontsize600: 16px;    
    --measureDimensionFontsize700: 20px;    
    --measureDimensionFontsize800: 24px;    
    --measureDimensionFontsize900: 28px;    
    --measureDimensionFontsize1000: 32px;    
    --measureDimensionFontsize1100: 40px;    
    --measureDimensionFontsize1200: 48px;    
    --measureDimensionFontsize1300: 56px;    
    --measureDimensionFontsize1400: 64px;    
    --measureDimensionFontsize1500: 80px;    
    --measureDimensionFontsize1600: 96px;    
    --measureDimensionLineheight100: 8px;    
    --measureDimensionLineheight200: 12px;    
    --measureDimensionLineheight300: 14px;    
    --measureDimensionLineheight400: 16px;    
    --measureDimensionLineheight500: 20px;    
    --measureDimensionLineheight600: 24px;    
    --measureDimensionLineheight700: 28px;    
    --measureDimensionLineheight800: 32px;    
    --measureDimensionLineheight900: 40px;    
    --measureDimensionLineheight1000: 44px;    
    --measureDimensionLineheight1100: 56px;    
    --measureDimensionLineheight1200: 64px;    
    --measureDimensionLineheight1300: 80px;    
    --measureDimensionLineheight1400: 96px;    
    --measureDimensionLineheight1500: 112px;    
    --measureDimensionLineheight1600: 128px;    
    --measureDimensionSpacer0px: 0px;    
    --measureDimensionSpacer1px: 1px;    
    --measureDimensionSpacer2px: 2px;    
    --measureDimensionSpacer4px: 4px;    
    --measureDimensionSpacer6px: 6px;    
    --measureDimensionSpacer8px: 8px;    
    --measureDimensionSpacer10px: 10px;    
    --measureDimensionSpacer12px: 12px;    
    --measureDimensionSpacer14px: 14px;    
    --measureDimensionSpacer16px: 16px;    
    --measureDimensionSpacer20px: 20px;    
    --measureDimensionSpacer24px: 24px;    
    --measureDimensionSpacer28px: 28px;    
    --measureDimensionSpacer32px: 32px;    
    --measureDimensionSpacer36px: 36px;    
    --measureDimensionSpacer40px: 40px;    
    --measureDimensionSpacer44px: 44px;    
    --measureDimensionSpacer48px: 48px;    
    --measureDimensionSpacer56px: 56px;    
    --measureDimensionSpacer64px: 64px;    
    --measureDimensionSpacer80px: 80px;    
    --measureDimensionSpacer96px: 96px;    
    --measureDimensionSpacer112px: 112px;    
    --measureDimensionSpacer128px: 128px;    
    --measureDimensionSpacer144px: 144px;    
    --measureDimensionSpacer160px: 160px;    
    --measureDimensionSpacer176px: 176px;    
    --measureDimensionSpacer192px: 192px;    
    --measureDimensionSpacer208px: 208px;    
    --measureDimensionSpacer224px: 224px;    
    --measureDimensionSpacer240px: 240px;    
    --measureDimensionSpacer256px: 256px;    
    --measureDimensionSpacer288px: 288px;    
    --measureDimensionSpacer320px: 320px;    
    --measureDimensionSpacer384px: 384px;    
    --measureDimensionSpace0: 0px;    
    --measureDimensionSpace025: 1px;    
    --measureDimensionSpace050: 2px;    
    --measureDimensionSpace100: 4px;    
    --measureDimensionSpace150: 6px;    
    --measureDimensionSpace200: 8px;    
    --measureDimensionSpace300: 12px;    
    --measureDimensionSpace400: 16px;    
    --measureDimensionSpace500: 20px;    
    --measureDimensionSpace600: 24px;    
    --measureDimensionSpace800: 32px;    
    --measureDimensionSpace1000: 40px;    
    --measureDimensionSpace1200: 48px;    
    --measureDimensionSpace1600: 64px;    
    --measureDimensionSpace2000: 80px;    
    --measureDimensionSpace2400: 96px;    
    --measureDimensionSpace3200: 128px;    
    --measureDimensionWidth0: 0px;    
    --measureDimensionWidth025: 1px;    
    --measureDimensionWidth050: 2px;    
    --measureDimensionWidth100: 4px;    
    --measureDimensionWidth150: 6px;    
    --measureDimensionWidth200: 8px;    
    --measureDimensionWidth300: 12px;    
    --measureDimensionWidth400: 16px;    
    --measureDimensionWidth500: 20px;    
    --measureDimensionWidth600: 24px;    
    --measureDimensionWidth800: 32px;    
    --measureDimensionWidth1000: 40px;    
    --measureDimensionWidth1200: 48px;    
    --measureDimensionWidth1600: 64px;    
    --measureDimensionWidth2000: 80px;    
    --measureDimensionWidth2400: 96px;    
    --measureDimensionWidth3200: 128px;    
    --measureDimensionBorderBorderRadius0: 0px;    
    --measureDimensionBorderWidth025: 1px;    
    --measureDimensionBorderBorderRadius050: 2px;    
    --measureDimensionBorderWidth100: 4px;    
    --measureDimensionBorderBorderRadius150: 6px;    
    --measureDimensionBorderBorderRadius200: 8px;    
    --measureDimensionBorderBorderRadius300: 12px;    
    --measureDimensionBorderBorderRadius400: 16px;    
    --measureDimensionBorderBorderRadius500: 20px;    
    --measureDimensionBorderBorderRadius750: 30px;    
    --measureDimensionBorderBorderRadiusFull: 99999px;    
    --measureDimensionBorderWidth050: 2px;    
    --measureDimensionBorderWidthInput: 0.6600000262260437px;    
    --measureDimensionHeight025: 1px;    
    --measureDimensionHeight050: 2px;    
    --measureDimensionHeight100: 4px;    
    --measureDimensionHeight150: 6px;    
    --measureDimensionHeight200: 8px;    
    --measureDimensionHeight300: 12px;    
    --measureDimensionHeight400: 16px;    
    --measureDimensionHeight500: 20px;    
    --measureDimensionHeight600: 24px;    
    --measureDimensionHeight800: 32px;    
    --measureDimensionHeight1000: 40px;    
    --measureDimensionHeight1200: 48px;    
    --measureDimensionHeight1600: 64px;    
    --measureDimensionHeight2000: 80px;    
    --measureDimensionHeight2400: 96px;    
    --measureDimensionHeight3200: 128px;    
    --measureDimensionHeight0: 0px;    
    --measureDimensionWidth2800: 112px;    
    --measureDimensionHeight2800: 112px;    
    --measureDimensionBorderBorderRadius100: 4px;    
    --measureDimensionPrimitiveTokensHeight1600: 64px;    
    --measureDimensionPrimitiveTokensBorderBorderRadiusFull: 99999px;    
    --measureDimensionPrimitiveTokensBorderWidthInput: 0.6600000262260437px;    
    --measureDimensionSize0165: 0.6600000262260437px;    
    --measureDimensionSize025: 1px;    
    --measureDimensionSize050: 2px;    
    --measureDimensionSize100: 4px;    
    --measureDimensionSize150: 6px;    
    --measureDimensionSize200: 8px;    
    --measureDimensionSize275: 11px;    
    --measureDimensionSize300: 12px;    
    --measureDimensionSize325: 13px;    
    --measureDimensionSizie350: 14px;    
    --measureDimensionSize400: 16px;    
    --measureDimensionSize500: 20px;    
    --measureDimensionSize600: 24px;    
    --measureDimensionSize700: 28px;    
    --measureDimensionSize750: 30px;    
    --measureDimensionSize800: 32px;    
    --measureDimensionSize900: 36px;    
    --measureDimensionSize1000: 40px;    
    --measureDimensionSize1200: 48px;    
    --measureDimensionSize1600: 64px;    
    --measureDimensionSize2000: 80px;    
    --measureDimensionSize2400: 96px;    
    --measureDimensionSize2800: 112px;    
    --measureDimensionSize3200: 128px;    
    --measureDimensionSpacingLg: 12px;    
    --measureDimensionSpacingXl: 16px;    
    --measureDimensionRadiusMd: 8px;    
}